* {font-family: Arial, Helvetica, sans-serif;}
body {
    margin: 0;
    background-color: #f2f2f2;
}

/************* Header *************/
body > header {
    text-align: center;
    color: black;
    background-color: lightblue;
    border-bottom: 3px solid #111717;
    margin-bottom: 3em;
}
header #logo {
    display: inline-block;
    text-align: center;
}
header #logo a {
    display: inline-block;
    text-decoration: none;
}
header #logo img {
    width:75px;
    vertical-align: middle;
    margin: 0 .5em;
}
header #logo span {
    color: black;
    font-family: cursive;
    font-size: 2em;
    vertical-align: text-top;
}
/************* Navigation bar *************/
header nav {
    display: inline-block;
    vertical-align: bottom;
    width: 75%;
}
header nav ul {
    margin: 0;
    padding: 0;
}
header nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: .5em .1em;
    margin-top: 3px;
}
header nav ul li a, header nav ul li#login button.btn-menu {
    border: none;
    border-radius: 0;
    text-decoration: none;
    color: inherit;
    background-color: #CEE8F0;
    padding: .5em 2em;
    font-size: 1em;
    line-height: 1em;
}
header nav ul li > a:hover {
    text-decoration: underline;
    background-color: #fff9;
}
/************* Login *************/
#login button.btn-menu:hover {
    background-color: #fff9;
}
#login button.btn-menu::before {
    content: "\2BC8  ";
}
#login button.btn-menu:focus::before,
#login button.btn-menu:active::before {
    content: "\2BC6  ";
}
#login div.btn-menu-dropdown span#user{
    display: block;
    font-size: 12px;
    margin: .4em;
}
#login button.btn-menu a {
    display: block;
    text-decoration: none;
    font-size: .9em;
    background-color: white;
    border: none;
    border-radius: 0;
    padding: .5em;
    margin: 0;
}
#login button.btn-menu a:hover {
    background-color: #CEE8F0;
}

/************* Main *************/
main{
    background-color:  white;
    margin: 2em 2em;
    padding: 1em;
}
main > h1{
    padding: 0 .5em;
}

/************* Buttons *************/
input[type="button"], input[type="submit"], .btn {
    font-size: 1em;
    color: black;
    border:1px solid #CEE8F0;
    border-radius: 4px;
    padding: .5em;
    background-color: lightblue;
    cursor: pointer;
}
input[type="button"]:hover, input[type="submit"]:hover, .btn:hover {
    background-color: #CEE8F0;
}
input[type="search"] {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: .5em;
}
.btn {
    display: inline-block;
    text-decoration: none;
    user-select: none;
}
/************* Inputs *************/
input{
    margin-left: 3px;
    margin-right: 3px;
}
.w100{
    width: 100%;
    box-sizing: border-box;
}
/************* Fieldset *************/
fieldset{
    margin-left: 0;
    margin-right: 0;
    /* border-left: 0;
    border-right: 0;
    border-radius: 1em 1em 1em 1em / 1em; */
    border:none;
    border: 1px solid gray;
}
legend{
    /* background-color: inherit;
    border: inherit;
    border-radius: 1em 1em 0em 0em / 1em;
    border-right-style: ridge;
    border-bottom-width: 0; */
    border:none;
    padding: 0 .5em
}

#sort-list, #sort-title, #sort-price, #sort-code,
#filter-price, #search-item {
    margin: .2em 0;
}
#sort-list, #sort-title, #sort-price, #sort-code,
#filter-price {
    display: inline-block;
}

/************* List *************/
#listado{
    clear: both;
    padding: 0 1em;
}
.item{
    margin:.5em 0;
}
.item:not(:nth-last-child(1)){
    border-bottom: 1px solid;
}
.item h2{
    float: left;
}
.float-right-top{
    float: right;
    margin: 2em;
}
.item p{
    clear: both;
}

/************* Comments *************/
#comments{
    display: block;
    margin: 2em;
}
#list-comments{
    margin: 1em 0;
}
#list-comments .comment{
    display: block;
    width: auto;
}
.time{
    color:gray;
}
#post-comment{
    display: inline-block;
    width: auto;
    padding: 0 1em 1em;
}
.comment{
    display: inline-block;
    width: auto;
    position: relative;
}
#new-comment{
    display: block;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 0.75em;
    margin-top: 28px;
    width: calc(100% - (1.5em + 2px));
    max-width: calc(800px - (1.5em + 2px));
    min-width: 200px;
    min-height: 40px;
}
/************* Checkbox stars *************/
.score{
    display: inline-block;
    position: absolute;
    top:0;
    right: 0;
    margin: 5px;
    cursor: default;
    border:1px solid transparent;
    border-radius: 4px;
}
.box{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
label.box{
    cursor: pointer;
}
.star{
    display: block;
	position: relative;
    border-left:10px transparent solid;
    border-right:10px transparent solid;
    border-top:7.265px lightgray solid;
    margin: 6.3675px 0;
}
.star::before, .star::after{
    content: '';
    position: absolute;
    top:-7.375px;
    left:-10.4px;
    transform-origin: 50% 50%;
    transform: rotate(72deg);
    border-left: inherit;
    border-right: inherit;
    border-top: inherit;
}
.star::after{
    left:-9.6px;
    transform: rotate(-72deg);
}
input#star-1:checked ~ label#star1 span.star,
input#star-2:checked ~ label#star1 span.star,
input#star-3:checked ~ label#star1 span.star,
input#star-4:checked ~ label#star1 span.star,
input#star-5:checked ~ label#star1 span.star,

input#star-2:checked ~ label#star2 span.star,
input#star-3:checked ~ label#star2 span.star,
input#star-4:checked ~ label#star2 span.star,
input#star-5:checked ~ label#star2 span.star,

input#star-3:checked ~ label#star3 span.star,
input#star-4:checked ~ label#star3 span.star,
input#star-5:checked ~ label#star3 span.star,

input#star-4:checked ~ label#star4 span.star,
input#star-5:checked ~ label#star4 span.star,

input#star-5:checked ~ label#star5 span.star, .star-active {
    border-top-color: orange;
}
#sendComment{
    display: block;
    margin: .5em 0 0 auto;
}
.sendCommentInvalid {
  animation: flicker .25s ease-in-out 3 forwards reverse;
}
@keyframes flicker {
  from {
    border-color: red;
  }
  to {
    border-color: white;
  }
}

/************* Image viewer *************/
#images{
    width: 90%;
    margin:0 auto;
    font-size: 0;
}

#mainImg{
    display: flex;
    position: relative;
    /* border:1px red solid; */
}
.prop{
    opacity: 0;
    visibility: hidden;
    height: auto;
    width: auto;
}
#mainImg > div{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
#mainImg div input:not(:checked) + img{
    display: none;
}
#mainImg img{
    max-height: 100%;
    max-width: 100%;
    margin:auto auto;
    vertical-align: middle;
    border-radius: 0.8vw;
    box-shadow: 0px 0px 5px gray;
}

#navGallery{
    display: flex;
    margin:1% 0;
}
#navGallery .center{
    display: flex;
    margin:0 auto;
    background-color:rgb(255, 218, 95);
    border-radius: 0.8vw;
    padding: 0.8vw;
}
#navGallery .center div:not(:first-child){
    margin-left: 0.8vw;
}
#navGallery .center:empty {
    display: none;
}
#navGallery label {
    cursor: pointer;
}
#navGallery img{
    max-height: 60px;
    max-width: 100%;
    vertical-align: middle;
    border-radius: 0.8vw;
}

/************* Cart *************/
#cart{
    margin: 2em;
}
#cart table, #cart ol {
    margin: 2em;
}
#cart table {
    border-collapse: collapse;
}
#cart tbody {
    border-top: gray 1px solid;
    border-bottom: gray 1px solid;
}
#cart th, #cart td{
    padding: .5em 1em;
}
#cart td:last-child{
    padding: .5em .5em .5em 0;
}

.btn-menu{
    color: black;
    text-align: center;
    font-size: 1.06em;
    padding: .2em;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f4f4f4;
    position: relative;
}
.btn-menu:hover{
    background-color: #fff;
}
.btn-menu:focus{
    background-color: lightblue;
}
.btn-menu:focus:hover{
    background-color: #CEE8F0;
}
.btn-menu:focus .btn-menu-dropdown,
.btn-menu:active .btn-menu-dropdown, /* touch */
.btn-menu-dropdown:hover {
    display: block;
}
.btn-menu-dropdown{
    border: 1px solid #ccc;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    z-index: 1;
    margin: 0 -1px -2px 0;
}
.btn-menu-dropdown input{
    font-size: .9em;
    background-color: white;
    border: none;
    border-radius: 0;
    width: 100%;
    margin: 0;
}


ol[type=A] li{
    list-style-type: none;
}
ol[type=A] label{
    display: inline-block;
    padding: 0.4em;
}
input[name=zona]{
    margin-top: 0;
    vertical-align: middle;
}
input[name=zona] + span{
    padding-left: 0.2em;
    vertical-align: middle;
}

/************* Modal *************/

@keyframes modal {
    from {
    top: 0%;
    transform: translate(-50%, -100%);
    }
    to {
    top:50%;
    transform: translate(-50%, -50%);
    }
}
@keyframes shade {
    to {
    opacity: 1;
    }
}

.modal-close, .modal-dialog {
    display: none;
    opacity: 0;
}
.modal-close {
    cursor: default;
}
.modal-close::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.75);
}
.modal-dialog {
    background: #fefefe;
    border: #333 solid 1px;
    border-radius: 5px;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 2;
    max-height: calc(100% - 2em);
    max-width: 100%;
    overflow: auto;
}
.modal:target .modal-close {
    display: block;
    animation: shade .5s  ease-in forwards;
}
.modal:target .modal-dialog {
    display: block;
    animation: modal .5s ease-out forwards, shade .5s  ease-in forwards;
}

.modal-header {
  padding: 1em 2em;
  border-bottom: grey solid 1px;
}
.modal-body {
  padding: 2em;
}
.modal-footer {
  border-top: grey solid 1px;
  text-align: right;
  padding: 1em;
  margin: 0 1em;
}
.modal-footer input[type="submit"] {
    background-color: lightgreen;
}
.modal-footer input[type="submit"]:hover {
    background-color:  hsl(120, 52%, 87%);
}
/* Stop scrolling up */
#close {
  display: none;
}